# Virtual environments
venv/
.venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Logs, database, backups
*.log
*.sqlite3
*.pkl

# Mac OS
.DS_Store

# IDE / Editor
.vscode/

# Project specific cache and output
cache/
data/
index/
instance/
models/
outputs/
uploads/
backend/__pycache__/


# Fichiers spécifiques à ignorer
installe_model.py
".env" 
